<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="business_plan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
    <business_plan.Properties.Settings>
      <setting name="escenario" serializeAs="String">
        <value />
      </setting>
      <setting name="server" serializeAs="String">
        <value>10.10.1.1</value>
      </setting>
      <setting name="pass" serializeAs="String">
        <value>z4pt0r</value>
      </setting>
      <setting name="usuario" serializeAs="String">
        <value>root</value>
      </setting>
    </business_plan.Properties.Settings>
  </userSettings>
</configuration>